.about__section {
  background-image: linear-gradient(
      0deg,
      lighten($primary-color, 10%),
      rgba(255, 0, 150, 0.3)
    ),
    url("../assets/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    object-fit: contain;
    width: 100%;
    border: 2px $secondary-color dotted;
    margin-bottom: 50px;
  }
  h1 {
    &:hover {
      color: $white;
    }
  }
  .about__content {
    display: flex;

    @media #{$mobile_device} {
      flex-direction: column-reverse;
    }
  }

  .about__content h6 {
    color: $secondary-color;
  }

  .about__content p {
    color: darken($color: $white, $amount: 12%);
  }
}
.aboutus {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 255),
      rgba(238, 235, 237, 0.7)
    ),
    url("../assets/favicon-free-img.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$mobile_device} {
    flex-direction: column-reverse;
  }

  p {
    color: darken($color: $white, $amount: 62%);
  }
  img {
    object-fit: contain;
    width: 100%;
    margin: auto;
    border: 2px dotted $primary-color;
  }
}

.staff {
  background-image: linear-gradient(
      0deg,
      lighten($primary-color, 10%),
      rgba(255, 0, 150, 0.3)
    ),
    url("../assets/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .staff__member {
    color: $white;
    text-align: center;

    h6 {
      color: $secondary-color;
      font-size: 1.4em;
      font-weight: 600;
    }
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }
}

.letter {
  img {
    margin-top: 50px;
    transform: rotate(20deg);
    border: 1px solid;
    object-fit: contain;
  }
}

.socials {
  padding: 10px;
  color: $primary-color;
}
