.services {
  p {
    color: darken($color: $white, $amount: 50%);
  }
  .services__container {
    margin-top: 50px;

    h6 {
      text-transform: uppercase;
      color: $primary-color;
      font-size: 1.2em;
    }
  }
}

.service {
  margin-bottom: 40px;
  min-height: 40vh;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  .button {
    margin-top: 100px !important;
  }
  &:hover {
    background-color: $primary-color;
    color: $white;
    h6 {
      color: darken($color: $white, $amount: 15%) !important;
    }
  }

  i {
    color: $secondary-color;
  }
}
.outService {
  background-color: $primary-color;
  color: $white;
  h6 {
    color: darken($color: $white, $amount: 15%) !important;
  }
  a {
    border-color: $secondary-color !important;
    color: $secondary-color !important;
  }
}

.care__options {
  background-color: $primary-color;
  color: darken($color: $white, $amount: 10%);
  width: 100%;

  .section__heading {
    color: $white;
    margin-top: 30%;
    padding: 20px;
    margin-bottom: 0 !important;
    h1 {
      margin-bottom: 2em;
    }
    h6 {
      margin-bottom: 0;
    }
  }
  .options {
    padding: 40px 20px;
  }
  .option {
    p {
      color: darken($color: $white, $amount: 20%);
    }
    h6 {
      color: $secondary-color;
    }
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .bullets {
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 50px;
    height: 50px;
  }
}

.respite__care {
  p {
    color: darken($color: $white, $amount: 50%);
  }
  .img__container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

.pricing {
  background-image: linear-gradient(
      0deg,
      lighten($primary-color, 10%),
      rgba(255, 0, 150, 0.3)
    ),
    url("../assets/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .section__heading {
    color: $white;
  }

  .price {
    border: 2px solid darken($color: $secondary-color, $amount: 20%);
    min-height: 20vh;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    color: $white !important;
    height: 40vh;

    &:hover {
      background-color: darken($color: $secondary-color, $amount: 20%);
    }
    h6 {
      color: $primary-color;
    }

    h2 {
      color: darken($color: $primary-color, $amount: 5%);
      font-size: 3em;
      font-weight: 800;
      color: $white !important;
      span {
        font-size: 0.5em;
        color: $secondary-color;
      }
    }
  }
}

.employment {
  p {
    text-transform: none;
    color: darken($color: $white, $amount: 50%);
  }

  .employment__text {
    text-align: left;
  }
}
