.tours__container {
  .tour {
    margin-bottom: 40px;
    opacity: 0.8;

    p {
      color: $black;
    }

    &:hover {
      transform: scale(1.08);
      opacity: 1;

      .badge {
        color: $secondary-color !important;
      }
    }
    .imgtour__container {
      position: relative;
      margin: 0;
      img {
        object-fit: contain;
        width: 100%;
      }
      .badge {
        position: absolute;
        left: 10px;
        bottom: -40px;
        padding: 20px 0;
        width: 150px;
        border-radius: 0;
        color: $white;
        border: 2px solid transparent;
        text-transform: uppercase;
        &:nth-child(even) {
          background-color: $primary-color;
        }

        a {
          color: $white;
          text-transform: uppercase;
          &:hover {
            color: $secondary-color;
          }
        }
        &:hover {
          color: $secondary-color;
          border-color: $secondary-color;
        }
      }
      .badge__color1 {
        background-color: $secondary-color;
      }
      .badge__color2 {
        background-color: $primary-color;
      }
    }
    .tour__content {
      margin-top: 50px;

      h4 {
        color: $primary-color;
        text-transform: uppercase;
      }
    }
  }
}

.suits__container {
  margin-bottom: 0;
  .suit {
    margin-bottom: 50px;
    opacity: 1;

    &:hover {
      transform: scale(1.02);
      opacity: 0.3;
      img {
        border: 3px dotted;
      }
    }

    &:hover button {
      opacity: 1 !important;
    }
    .img__container {
      position: relative;

      img {
        width: 100%;
        object-fit: contain;
      }

      button {
        position: absolute;
        bottom: -20px;
        left: 10px;
        margin: 0 !important;
        z-index: 1000;
      }
    }
  }
}
